$font-popins: 'Poppins', sans-serif;
$font-popins-400-w: 400;
$font-popins-500-w: 500;
$font-popins-600-w: 600;
$font-popins-700-w: 700;
$font-size: 14px;

$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);