.button-link {
    width: 100%;
    text-decoration: none;
    color: whitesmoke;
    height: 35px;
    padding-top: 16px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 5px -3px rgba(133,133,133,1);
    -moz-box-shadow: 0px 8px 5px -3px rgba(133,133,133,1);
    box-shadow: 0px 8px 5px -3px rgba(133,133,133,1);
    @include break('x-small') {
        height: 60px;
    }
    @include break('small') {
        font-size: 15px;
    }
}

.button-link__bold {
    font-weight: $font-popins-600-w;
}

.button__primary {
    background-color: $green;
}

.button__secondary {
    background-color: $blue;
}