*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}


body {
    background-image: url('../../images/bg-intro-desktop.png');
    background-repeat: no-repeat;
    font-family: $font-popins;
    background-color: $red;
    display: grid;
    grid-template-rows: 1fr auto;
    @include break('small') {
        background-image: url('../../images/bg-intro-mobile.png');
        background-repeat: no-repeat;
    }
}
